body {
    margin: 0;
}

/**/
#header-nav-combo {
    display: grid;
    background-color: #03A3DF;
    grid-template-columns: 30% 70%;
}

header {
    text-align: center;
}

nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

nav ul { 
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

nav li {
    display: inline-block;
    margin-right: 25px;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #444444;
    text-align: center;
}

section {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; -- just won't work */
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.class-blue {
    background-color: #03A3DF;
}

.lesson-gold {
    background-color: #ECB722;
}

.article-title {
    font-size: 24px;
}

article, 
article h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0;
}

.archery-class-info {
    background-color: #1B447F;
}

.article-content {
    color: #444444;
    background-color: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

article {
    padding: 25px;
}

article p {
    font-size: 20px;
}

.center-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    background-color: #1B447F;
    width: 50%;
    height: 5px;
}

footer {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;

    background-image: url("../assets/footerImage.jpg");
    height: 150px;
    color: #FFFFFF;

    margin-top: 60px;
}

footer img {
    
}

footer ul {
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}