body {
    margin: 0;
}

/**/
#header-nav-combo {
    display: grid;
    background-color: #03A3DF;
    grid-template-columns: 30% 70%;
}

header {
    text-align: center;
}

/*
    NAV styling section
*/
nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

nav ul { 
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

nav li{
    display: inline-block;
    margin-right: 25px;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.current-page {
    position: relative;
    height: 5px;
    width: 100%;
    background-color: #ECB722;
    margin: 0;
    border: 0;
}

/*
    MAIN styling section
*/
main {
    display: flex;
    
    flex-flow: column wrap;
    align-content: center;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #444444;
    text-align: center;
}

.service-entry {
    width: 600px;
    justify-content: center;
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.class-blue {
    background-color: #03A3DF;
}

.lesson-gold {
    background-color: #ECB722;
    color: #444444;
}

.article-title {
    font-size: 24px;
}

article, 
article h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0;
}

.archery-class-info {
    background-color: #1B447F;
}

.article-content {
    color: #444444;
    background-color: transparent;
    width: 50%;
}

article {
    padding: 25px;
}

article p {
    font-size: 25px;
}

.instructor-bio {
    display: flex;

    flex-flow: column wrap;
    align-items: center;
}
/*
    AGNOSTIC styling section
    added because there were so many repetiions of
    just centering. Decided to have dedicated classes
    to center and other one-offs.
*/

.darken-me {
    color: #444444;
}

.text-align-center {
    text-align: center;
}

hr {
    background-color: #1B447F;
    width: 50%;
    height: 5px;
}

/*
    FOOTER styling section
*/
footer {
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    grid-template-rows: auto;

    background-image: url("../assets/footerImage.jpg");
    height: 300px;
    color: #FFFFFF;

    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

footer img {
    margin-top: 25px;
    margin-bottom: 15px;
    grid-column: 2;
}

footer ul {
    grid-column: 2;
    grid-row: 2;
    list-style-type: none;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: 25px;;
}

footer p {
    grid-row: span 2;
    margin-top: auto;
    margin-bottom: auto;
}