body {
    margin: 0;
}

/**/
#header-nav-combo {
    display: grid;
    background-color: #03A3DF;
    grid-template-columns: 30% 70%;
}

header {
    text-align: center;
}

header img {
    /* float: left; */
}

nav {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

nav ul { 
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

nav li {
    display: inline-block;
    margin-right: 25px;
}

nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #444444;
    text-align: center;
}

section {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; -- just won't work */
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #03A3DF;
    margin-bottom: 0;
    padding-left: 25px;
}

.article-title {
    font-size: 24px;
}

article, article h3{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1B447F;
    margin-top: 0;
}

article{
    padding: 25px;
}

article p {
    font-size: 20px;
}